<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{asset('https://fonts.googleapis.com/css?family=Kaushan+Script|Playfair+Display')}}">
	<link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{asset('css/normalize.css')}}">
	<link rel="stylesheet" href="{{asset('css/style.css')}}">
	<title>Module 5 - Ila Yoga</title>
</head>
<body>
	<!--HEADER-->
	<header>
		<nav>
			<a href="{{path('home')}}">
				<i class="fa fa-calendar"></i>
				Accueil
			</a><!--
			--><a href="#">
				<i class="fa fa-book"></i>
				Livre d'or
			</a><!--
			--><a href="#">
				<i class="fa fa-picture-o"></i>
				Album Photo
			</a><!--
			--><a href="{{path('contact')}}">
				<i class="fa fa-envelope"></i>
				Nous contacter
			</a>
		</nav>
		<p class="promo"><strong>OFFRE PROMO : Votre premier cours d'essai gratuit !</strong></p>
		<h1 class="presentation">Bienvenue sur le site d'Ila Yoga</h1>
	</header>
	<!--MAIN CONTENT-->
	<main>
		{% block main %}{% endblock %}
	</main>
	<!--FOOTER-->
	<footer class="licence">
	    <a rel="license" href="https://3wa.fr/propriete-materiel-pedagogique/"><img alt="Propriété de la 3W Academy" style="border-width:0" src="https://3wa.fr/wp-content/themes/3wa2015/img/logos/big.png" /></a><br /><span>Cet exercice</span> de <a href="https://3wa.fr">3W Academy</a> est mis à disposition <a rel="license" href="https://3wa.fr/propriete-materiel-pedagogique/">pour l'usage personnel des étudiants, Pas de Rediffusion - Attribution - Pas d'Utilisation Commerciale - Pas de Modification - International</a>.<br />Les autorisations au-delà du champ de cette licence peuvent être obtenues auprès de <a href="mailto:contact@3wa.fr" rel="cc:morePermissions">contact@3wa.fr</a>. Les maquettes ont été réalisées par <a href="http://www.justine-muller.fr">Justine Muller</a>.
	</footer>	
</body>
</html>
